
/* Remove as margens do "conteúdo da página" em telas pequenas */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
.w3-row-padding img {
    margin-bottom: 12px
}
.w3-image {
  opacity: 0.4;
}
/* Defina a largura da barra lateral para 120px */
.w3-sidebar {
    width: 120px;background: #222;
}
/* Adicione uma margem esquerda ao "conteúdo da página" que corresponda à largura da barra lateral (120px) */
#main {
    margin-left: 120px
}
